.zippy-component{
	padding: 5px 0px;
}

.zipp{
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
}

.heading{
	cursor: pointer;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.expanded{
	background-color: lightgray;
}